# ignore everything
*

# whitelist anything that's a directory
!*./.config
!*./.vim
!*./.script

# whitelist files
!.gitignore
!.zshrc
!.aliases
!.bashrc
!.bash_profile
!.bash_func
!.gitconfig
!.vimrc
!.profile
