# ignore everything
*

# whitelist anything that's a directory
!.config/nvim/*
!.vim/*
!script/*
!other_git_path/*

# whitelist files
!.gitignore
!.zshrc
!.aliases
!.bashrc
!.bash_profile
!.bash_func
!.gitconfig
!.vimrc
!.profile
