[user]
	name = Sigit Kuncoro
	email = sigit.kunc@gmail.com

# Multiple .gitconfig
# Git Exclude PATH
[includeIf "gitdir:~/other_git_path"]
	path = "~/other_git_path/.gitconfig"

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/$USER/.gitignore_global
[commit]
	template = /Users/$USER/.stCommitMsg
[credential]
	helper = cache
