# ignore everything
*
!*/

# whitelist anything that's a directory
!.config/nvim
!.vim
!script
!other_git_path

# whitelist files
!.gitignore
!.zshrc
!.zprofile
!.profile
!.bashrc
!.gitconfig
!.vimrc
!.loadaliases
!.loadfunction
!.loadenv
!.autoload

